@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=EB+Garamond:wght@400;500;700&family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/*
Primary
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Neutral
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Lexend Deca, sans-serif;
	font-weight: 400;
	font-size: 15px;
}

main {
	flex: 1;
	
}

.container {
	display: flex;
	justify-content: center;
	place-items: center;
	min-height: 95vh;
}

.contain {
	color: hsla(0, 0%, 100%, 0.75);
/*	border: 2px solid blue;*/
/*	border-radius: 10px;*/
/*	background: hsla(179, 100%, 13%, .2);*/
}

.info-group {
	display: flex;
	border: none;
	border-radius: 10px;
	overflow: hidden;
	width: 850px;
	height: 450px;
	background-color: hsla(179, 100%, 13%, .5);
/*	border: 2px solid green;*/
}

.info-group-items {
	padding: 2.5em;
}

.info-group-items:nth-of-type(1) {
	background-color: hsl(31, 77%, 52%); /* Bright orange */
}

.info-group-items:nth-of-type(2) {
	background-color: hsl(184, 100%, 22%); /* Dark cyan */
}

.info-group-items:nth-of-type(3) {
	background-color: hsl(179, 100%, 13%); /* Very dark cyan */
}

.info-group-items-images {
	padding: 0 0 1.25em 0;
}

.info-group-items h1 {
	color: white;
	font-family: Big Shoulders Display, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 1.25em 0;
}

.info-group-items p {
	line-height: 1.5;
	padding: 0 0 3.125em 0;
}

.info-group-items-buttons {
	font-family: Lexend Deca, sans-serif;
	font-size: 1rem;
	background-color: hsl(0, 0%, 95%);
	padding: 10px 30px;
	border: 2px solid hsl(0, 0%, 95%);;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}

.info-group-items-buttons:hover {
	border: 2px solid hsl(0, 0%, 95%);
	color: hsl(0, 0%, 95%);
	background-color: hsl(31, 77%, 52%); /* Bright orange */
}

.button-1 {
	color: hsl(31, 77%, 52%); /* Bright orange */
}

.button-2 {
	color: hsl(184, 100%, 22%); /* Dark cyan */
}

.button-3 {
	color: hsl(179, 100%, 13%); /* Very dark cyan */
}
.button-1:hover {
	border: 2px solid hsl(0, 0%, 95%);
	color: hsl(0, 0%, 95%);
	background-color: hsl(31, 77%, 52%); /* Bright orange */
}

.button-2:hover {
	border: 2px solid hsl(0, 0%, 95%);
	color: hsl(0, 0%, 95%);
	background-color: hsl(184, 100%, 22%); /* Dark cyan */
}

.button-3:hover {
	border: 2px solid hsl(0, 0%, 95%);
	color: hsl(0, 0%, 95%);
	background-color: hsl(179, 100%, 13%); /* Very dark cyan */
}

footer {
	flex: 1;
	padding: 10px;
	border-top: 1px dashed black;
	font-size: 11px;
	text-align: center;
}

footer a {
	color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 640px) {
	body {
		font-size: 1em;
	}

	.container {
		padding: 50px 0;
	}

	.info-group {
		flex-direction: column;
		width: 500px;
		height: auto;
	}

	.info-group-items {
		padding: 4em;
	}
}